In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('raw data/April 2024.csv')
data.head()

,Departure,Return,Bike,Electric bike,Departure station,Return station,Membership type,Covered distance (m),Duration (sec.),Departure temperature (C),Return temperature (C),Stopover duration (sec.),Number of stopovers
0,2024-05-01 0:00,2024-05-01 0:00,30250.0,True,0002 Burrard Station (Melville & Dunsmuir),0266 St Catherines & 7th,365 Corporate Plus,4322.0,1064,7,11,0,0
1,2024-05-01 0:00,2024-05-01 0:00,30643.0,True,0310 Jervis & Robson,0190 Melville & Bute,365 Day Pass Plus,501.0,108,5,9,0,0
2,2024-05-01 0:00,2024-05-01 0:00,1145.0,False,0074 10th & Main,0176 10th & Ontario,365 Day Pass Standard,222.0,129,10,9,0,0
3,2024-05-01 0:00,2024-05-01 0:00,1276.0,False,0230 Alexander & Railway,0052 Cambie & Water,365 Day Pass Standard,1388.0,411,9,11,0,0
4,2024-05-01 0:00,2024-05-01 0:00,30705.0,True,0196 Hornby & Drake,0140 Burrard & 7th,30 Day Pass,2153.0,506,6,3,0,0

In [3]:
data.describe()

,Bike,Covered distance (m),Duration (sec.),Departure temperature (C),Return temperature (C),Stopover duration (sec.),Number of stopovers
count,100568.000000,100694.000000,1.006940e+05,100694.000000,100694.000000,100694.000000,100694.000000
mean,12268.095756,2805.356966,1.308775e+03,13.861849,14.317149,76.454416,0.044442
std,14269.203403,2850.876659,9.608707e+03,5.871056,5.159803,3137.839485,0.309768
min,1.000000,0.000000,-8.792700e+04,-2.000000,-4.000000,0.000000,0.000000
25%,857.000000,1037.000000,3.240000e+02,10.000000,11.000000,0.000000,0.000000
50%,1752.000000,1977.000000,6.040000e+02,14.000000,14.000000,0.000000,0.000000
75%,30299.500000,3595.750000,1.115000e+03,17.000000,18.000000,0.000000,0.000000
max,30899.000000,54591.000000,1.333996e+06,41.000000,40.000000,570740.000000,11.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100694 entries, 0 to 100693
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Departure                  100694 non-null  object
 1   Return                     100677 non-null  object
 2   Bike                       100568 non-null  float64
 3   Electric bike              100694 non-null  bool
 4   Departure station          100694 non-null  object
 5   Return station             100675 non-null  object
 6   Membership type            100559 non-null  object
 7   Covered distance (m)       100694 non-null  float64
 8   Duration (sec.)            100694 non-null  int64
 9   Departure temperature (C)  100694 non-null  int64
 10  Return temperature (C)     100694 non-null  int64
 11  Stopover duration (sec.)   100694 non-null  int64
 12  Number of stopovers        100694 non-null  int64
dtypes: bool(1), float64(2), int64(5), object(5)
memory usage: 9.3+ MB

In [6]:
type(data.loc[0,'Departure'])

str

In [8]:
from datetime import datetime

In [9]:
datetime?

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/datetime.py
Type:           type
Subclasses:     ABCTimestamp, _NaT

In [22]:
d = datetime.strptime(data.loc[0,'Departure'], '%Y-%m-%d %H:%M')
d

datetime.datetime(2024, 5, 1, 0, 0)

In [23]:
dir(d)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [32]:
d.month

5